body{
    background: wheat;
}

body{
    text-align: center;
    font-size: 40px;
}
input{
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}
button{ font-size: 20px;}